/* Normal */
@font-face {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Gotham Pro'),
        url(./gothampro.ttf);
}

/* Bold */
@font-face {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Gotham Pro'),
        url(./gothampro_bold.ttf);
}